<div class="row">
    <div class="col-12">
        <div class="btn-group me-0" role="group" aria-label="...">
            <a href="/account" class="btn btn-default "><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
            <a class='btn btn-default' href='account-address.html'><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i>My Address</a>
            <a class='btn btn-default' href='/addAddress'><i class="fas fa-map-marker-alt"
                    aria-hidden="true"></i>Add Address</a>
            <a class='btn btn-default' href='account-all-orders.html'><i class="fa fa-list" aria-hidden="true"></i>All
                Orders</a>
            <a class='btn btn-default' href='account-wishlist.html'><i class="fa fa-gift"
                    aria-hidden="true"></i>Wishlist</a>
           
        </div>
    </div>
</div>  